:root{
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0; 
    --azul-botao: #167BF7;
    --preto-fundo: #00030C;
    --fonte-principal: "Inter", sans-serif;
    --cor-hover: #0d3363;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--preto-fundo);
    color: var(--branco-principal);
}

.principal{
    background-image: url(/img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
}

.conteiner{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.conteiner__caixa{
    margin: 0 6em;
    text-align: center;
}

.conteiner__titulo{
    font-family: var(--fonte-principal);
    font-size: 28px;
    font-weight: 700;
}

.conteiner__img{
    margin: 1em 0 2em 0;
}

.conteiner__botao{
    padding: 1em;
    background-color: var(--azul-botao);
    display: block; 
    color: var(--branco-principal);
    text-decoration: none;
    border-radius: 8px;
    font-family: var(--fonte-principal);
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 1em;
}

.conteiner__botao:hover{
    background-color: var(--cor-hover);
}

.conteiner__botao:active{
    background-color: green;
}

.botao__secundario{
    border: 2px solid var(--branco-principal);
    background-color: transparent;
}

.botao__descricao{
    color: var(--cinza-secundario);
}

.secundario{
    align-items: center;
    margin: 0 8em;
}

.secundario__titulo{
    font-family: var(--fonte-principal);
    font-weight: 700;
    font-size: 3em;
    color: var(--branco-principal);
}

.secundario__descricao{
    color: var(--cinza-secundario);
    font-family: var(--fonte-principal);
    font-size: 1em;
    font-weight: 400;
}

.terciario{
    align-items: center;
}

.terciario__conteudo{
    margin: 0 4em 3em 6em;
}

.terciario__conteudo__descricao{
    font-family: var(--fonte-principal);
    color: var(--cinza-secundario);
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 2em;
}

.terciario__conteudo__botao{
    padding: 1em;
    background-color: var(--azul-botao);
    border-radius: 8px;
    color: var(--branco-principal);
    text-decoration: none;
    font-family: var(--fonte-principal);
    font-size: 1em;
}

.terciario__conteudo__botao:hover{
    background-color: var(--cor-hover);
}

.terciario__conteudo__botao:active{
    background-color: green;
}

.quarta {
    align-items: center;
    margin: 0 10em;
}

.quarta__titulo{
    font-family: var(--fonte-principal);
    font-size: 3em;
    font-weight: 700;
}

.quarta__descricao{
    font-family: var(--fonte-principal);
    font-size: 1em;
    font-weight: 400;
    color: var(--cinza-secundario);
}

.dispositivos__lista{
    display: flex;
    list-style-type: none;
    text-align: center;
    justify-content: center;
    font-size: 2rem;
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-weight: 700;
}

.dispositivos__titulo{
    text-align: center;
    font-size: 3rem;
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-weight: 700;
}

.dispositivos{
    margin: 5em 0 0 0;
}

.rodape{
   text-align: center;
   margin: 4em 4em 0 4em ;
}

.rodape__imagem{
    margin: 4em 0 1em 0;
}

.rodape__link{
    display: flex;
    list-style-type: none;
    gap: 1em;
    justify-content: center;
    margin: 2em 0;
}

.rodape__link__links{
    color: var(--branco-principal);
    text-decoration: none;
    font-size: 1em;
    font-family: var(--fonte-principal);
    font-weight: 400;
}

.rodape__texto{
    color: var(--cinza-secundario);
    margin-bottom: 2em;
    font-family: var(--fonte-principal);
    font-size: 0.875em;
    font-weight: 400;
}

.rodape__link__links:hover{
    color: var(--azul-botao);
}
.rodape__link__links:active{
    color: green;
}